/* Sticky Footer Implementation */

html, body {
	height: 100%;
}

body {
	/* following two lines are for sticky footer */
	display: flex;
	flex-direction: column;
}

.content {
	flex:1 0 auto;
}

/* End of Sticky footer */

/* Other Styling for the page starts here */
body {
	width: 960px;
	background-color: #4aaaa5;
}

#profileImageStyle {
	float: left;
	margin: 10px;
}

#mainBodyBG {
	background-color: red;
}
.mainBodyStyle {
	background-color: red;
}
.aboutMeStyle,
.contactMeStyle {
	float: left;
}

.aboutMeStyle {
	width:570px;
	padding:20px;
	margin:20px;
	border:none;
	color: #777777;
	background-color: white;
}

.contactMeStyle {
	width:190px;
	padding:20px;
	margin:20px;
	border:none;
	background-color: white;
}

/* Navigation Bar */

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav h1 {
	background-color: #4aaaa5;
	text-align: center;
}

.topnav a {
	float: right;
	display: block;
	color: #777777;
	text-align: center;
	padding: 14px 10px;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color:black;
}

.topnav a.active {
	background-color: #4CAF50;
	color:white;
}

/* End of Naviagation Bar Style */

/* Thick horizontal row */

#hrStyle {
	border: none; 
	border-bottom: 2px solid grey;
}

.footerBox {
	background-color: #666666;
}

.footerText {
	text-align: center;
}


