/* Sticky Footer Implementation */

html, body {
	height: 100%;
}

body {
	/* following two lines are for sticky footer */
	display: flex;
	flex-direction: column;
}

.content {
	flex:1 0 auto;
}

footer {
    position: relative;
    height: 50px;
	width: 100%;
	background-color: #666666;
}

p.copyright {
	position: absolute;
	width: 100%;
	color: #fff;
	line-height: 40px;
	font-size: 0.7em;
	text-align: center;
	bottom:0;
}

/* Other Styling for the page starts here */
body {
	background-image: url(../images/background.png);	
}

/* Thick horizontal row */

#hrStyle {
	border: none; 
	border-bottom: 2px solid grey;
}

#aboutMeTextStyle {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.aboutMeText {
	text-align: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5; /* teal */
	font-size: 25px;
	font-weight: bold;
	padding:10px;
}


/* Wrapper for the Main Content comprising of About Me and Contact Me Boxes */
#container {
    width: 960px;
    border:bold;
	background-image: url(../images/background.png);	
    margin-left: 70px;
}


/* Align the profile image */
#profileImageStyle {
	float: left;
	margin: 10px;
}

/* About Me Box*/
#first {
    width: 500px;
    height: 100%;
    float: left;
    border:none;
	background-color: #ffffff; /* white */
	margin: auto;
}

/* Contact Me Box */
#second {
    width: 200px;
    float: left;
    border: none;
    background-color: #ffffff; /* white */
    margin-left:50px;
}

/* Style the Contact Me Contents */
.connectWithMeText {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	font-size: 16px;
	font-weight: bold;
	padding:15px;
}

/* Align Contact Me Logos */
.connectWithMeImages {
	display:inline;
	float:left;
	width:30%;
}
.firstImage {
	margin-left:20px;
}


/* Navigation Bar */

#topnavName {
	background-color: #4aaaa5; /* teal */
	font-weight: bold;
}

#topnavItem {
	float:left;
	margin-left: 70px;
}

.topnav {
    background-color: #ffffff /* white */;
    overflow: hidden;
}

.topnav h1 {
	background-color: #4aaaa5; /* teal */
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: #ffffff /* white */;
	float:left;
	margin-left: 70px;
	padding: 20px;
}

.topnav a {
	float: right;
	display: block;
	color: #777777;
	text-align: center;
	padding: 14px 10px;
	font-size: 17px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color:black;
}

.topnav a.active {
	background-color: #4CAF50;
	color:white;
}

/* End of Naviagation Bar Style */


/* START PORTFOLIO STYLES */

#firstPortfolio {
    width: 300px;
    height: 400px;
    float: left;
    border:none;
	background-color: #ffffff; /* white */
	margin: auto;
}

.pfContainer1 {
    position: relative;
    text-align: center;
    color: white;
}

.pfContainer2 {
    position: relative;
    text-align: center;
    color: white;
    top: 150px;
    left: 0;
}

.pfImage1 {
	padding:20px;
	position: absolute;
	top:0;
	left:0;
}

.pfImage2 {
	padding:20px;
	position: absolute;
	top:0;
	left:50%;
}

.pfTextBox {
	height:15px;
	width:100px;
	background-color: teal;
	position: absolute;
	text-align: center;
	color:white;
	bottom:30px;
	left:20px;
}


#firstContactForm {
    width: 640px;
    height: 100%;
    float: left;
    border:none;
	background-color: #ffffff; /* white */
	margin: auto;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding:5x;
	width:471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}